<h1>WIKINIMOUS</h1>
<h2>Index of articles</h2>
<ul>
  <% @articles.each do |element| %>
    <li><%= link_to element.title, article_path(element) %></li>
  <% end %>
</ul>
<p><%= link_to "Create article", new_article_path %></p>
